@page
@model tbkk.Pages.Points.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Point[0].NamePoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point[0].Part)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Point) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamePoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part.PartID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PointID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PointID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PointID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
