@page
@model tbkk.Pages.CarTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarType.NameCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarType.NameCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarType.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarType.Seat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarType.CompanyCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarType.CompanyCar.CompanyCarID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarType.CarTypeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
