@page
@model tbkk.Pages.CompanyCars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].NameCompanyCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].Call)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyCar[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CompanyCar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCompanyCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Call)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Image)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CompanyCarID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CompanyCarID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CompanyCarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
