@page
@model tbkk.Pages.listOTs.allowEmpModel

@{
    ViewData["Title"] = "allowEmp";
}








<div id="content-wrapper">
    <div name="55555" class="card-layout">






        <h1>OT @Html.DisplayFor(modelItem => Model.OT.date)</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management</li>
            <li class="breadcrumb-item active">Allow OT</li>
            <li class="breadcrumb-item active">Allow</li>
        </ol>


        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Employee Table
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    <form method="post">
                        <button asp-page-handler="AddAllowed" class="btn btn-outline-success" type="submit"  asp-route-id="@Model.OT.OTID">All Allowed</button>
                        <button asp-page-handler="AddDisallow" class="btn btn-outline-danger" type="submit"  asp-route-id="@Model.OT.OTID">All Disallow</button>
                    </form>
                    <br />
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.Employee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.TimeStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.TimeEnd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.Hour)
                                </th>
                                <th>
                                    OT Hour
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.Point)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT.FoodSet)
                                </th>


                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.list)
                            {
                                <tr>
                                     
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.Employee.FirstName)  @Html.DisplayFor(modelItem => item.DetailOT.Employee.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.TimeStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.TimeEnd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.Hour)
                                    </td>
                                    <td>
                                        @{int CostHour = (int)item.CostHour.TotalHours;}

                                        @{ if (CostHour < 600)
                                            {
                                                @:<label style="color:green">@CostHour</label>/ 600 Hour
                                            }
                                            else
                                            {
                                                @:<label style="color:red">@CostHour</label>/ 600 Hour
                                            }
                                        }

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.Status)
                                    </td>
                                    <td>
                                        @{ if (item.DetailOT.Point.Part.Name.Equals("No"))
                                            {
                                                @:No
                                            }
                                            else
                                            {
                                                @:@Html.DisplayFor(modelItem => item.DetailOT.Point.Part.Name) :=>  @Html.DisplayFor(modelItem => item.DetailOT.Point.NamePoint)

                                            }
                                        }



                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailOT.FoodSet.NameSet)
                                    </td>

                                  
                                    <td>
                                        <form method="post">
                                            @{
                                                if (!item.DetailOT.Status.Equals("Allow"))
                                                {
                                                    <button asp-page-handler="Allow" type="submit"  asp-route-id="@item.DetailOT.DetailOTID" class="btn btn-primary">Allow</button>
                                                }
                                                if (!item.DetailOT.Status.Equals("Disallow"))
                                                {
                                                    <button asp-page-handler="Remove" type="submit" asp-route-id="@item.DetailOT.DetailOTID" class="btn btn-danger">Disallow</button>
                                                }
                                            }
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var nav = document.getElementById("Management");
    var nav2 = document.getElementById("Management OT");
     var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }

    var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
</script>
}



