@page
@model tbkk.Pages.listOTs.CompanyCarModel

@{
    ViewData["Title"] = "CompanyCar";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout ">

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Create</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <form method="post">

                        <div class="modal-body">
                            <div class="row ">
                                <div class="col">


                                    <div class="row ">
                                        <div class="col">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="CompanyCar.NameCompanyCar" class="control-label"></label>
                                                <input asp-for="CompanyCar.NameCompanyCar" class="form-control" />
                                                <span asp-validation-for="CompanyCar.NameCompanyCar" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="CompanyCar.Email" class="control-label"></label>
                                                <input asp-for="CompanyCar.Email" class="form-control" />
                                                <span asp-validation-for="CompanyCar.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col">

                                            <div class="form-group">
                                                <label asp-for="CompanyCar.Line" class="control-label"></label>
                                                <input asp-for="CompanyCar.Line" class="form-control" />
                                                <span asp-validation-for="CompanyCar.Line" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="CompanyCar.Call" class="control-label"></label>
                                                <input asp-for="CompanyCar.Call" class="form-control" />
                                                <input hidden asp-for="CompanyCar.Company_CompanyID" class="form-control" value="@Model.Employee.Company_CompanyID" />
                                                <input hidden asp-for="CompanyCar.Status" class="form-control" value="Close" />
                                                <span asp-validation-for="CompanyCar.Call" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>


                            <!-- Modal footer -->

                            <div class="modal-footer">
                                <input type="submit" value="Confirm" class="btn btn-outline-info" />
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>



        <div class="modal fade" id="Edit">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <form method="post">

                        <div class="modal-body">
                            <div class="row ">
                                <div class="col">


                                    <div class="row ">
                                        <div class="col">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="CompanyCarEdit.NameCompanyCar" class="control-label"></label>
                                                <input asp-for="CompanyCarEdit.NameCompanyCar" class="form-control" />
                                                <span asp-validation-for="CompanyCarEdit.NameCompanyCar" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="CompanyCarEdit.Email" class="control-label"></label>
                                                <input asp-for="CompanyCarEdit.Email" class="form-control" />
                                                <span asp-validation-for="CompanyCarEdit.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col">

                                            <div class="form-group">
                                                <label asp-for="CompanyCarEdit.Line" class="control-label"></label>
                                                <input asp-for="CompanyCarEdit.Line" class="form-control" />
                                                <span asp-validation-for="CompanyCarEdit.Line" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="CompanyCarEdit.Call" class="control-label"></label>
                                                <input asp-for="CompanyCarEdit.Call" class="form-control" />
                                                <input hidden asp-for="CompanyCarEdit.Company_CompanyID" class="form-control" />
                                                <input hidden asp-for="CompanyCarEdit.Status" class="form-control" />
                                                <input hidden asp-for="CompanyCarEdit.CompanyCarID" class="form-control" />
                                                <span asp-validation-for="CompanyCarEdit.Call" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>


                            <!-- Modal footer -->

                            <div class="modal-footer">
                                <input type="submit" asp-page-handler="Edit" value="Confirm" class="btn btn-outline-success" />
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>










        <h1>Company Car</h1>


        <ol class="breadcrumb ">
            <li class="breadcrumb-item active d-print-none">Management OT</li>
            <li class="breadcrumb-item active d-print-none">CompanyCar</li>
           

        </ol>

        <hr />



        <h4>Select CompanyCar: @if (Model.select != null)
        {@Model.select.NameCompanyCar}</h4>
        <table class="table " width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.select.NameCompanyCar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.select.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.select.Line)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.select.Call)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.select.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.select.Company)
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.NameCompanyCar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.Line)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.Call)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.select.Company.CompanyName)
                    </td>
                    <td>

                        @if (Model.select != null)
                        {@:<samp class="btn btn-outline-warning" onclick="getCompanyCar(@Model.select.CompanyCarID)" data-toggle="modal" data-target="#Edit">Edit</samp>
                            @:|


                            <a class="btn btn-outline-primary" asp-page="./CarType" asp-route-id="@Model.select.CompanyCarID">CarType</a>

                        }





                    </td>

                </tr>

            </tbody>
        </table>



        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                CompanyCar
                <button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#myModal">Create</button>
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.NameCompanyCar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.Line)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.Call)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CompanyCar.Company)
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CompanyCarList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NameCompanyCar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Line)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Call)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                    </td>
                                    <td>


                                        <form method="post">


                                            <button asp-page-handler="Select" class="btn btn-outline-success" type="submit" asp-route-id="@item.CompanyCarID">Select</button>|
                                            <samp class="btn btn-outline-warning" onclick="getCompanyCar(@item.CompanyCarID)" data-toggle="modal" data-target="#Edit">Edit</samp>|

                                            <a class="btn btn-outline-primary" asp-page="./CarType" asp-route-id="@item.CompanyCarID">CarType</a>


                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var nav = document.getElementById("Management");
    var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";

    var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
    var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";










        function getCompanyCar(id) {
        $.ajax({
            type: "GET",
            url: "/api/CompanyCars/" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#CompanyCarEdit_CompanyCarID').val(data.companyCarID);
                $('#CompanyCarEdit_NameCompanyCar').val(data.nameCompanyCar);
                $('#CompanyCarEdit_Email').val(data.email);
                $('#CompanyCarEdit_Line').val(data.line);
                $('#CompanyCarEdit_Call').val(data.call);
                $('#CompanyCarEdit_Status').val(data.status);
                $('#CompanyCarEdit_Company_CompanyID').val(data.company_CompanyID);


                console.log(data);
            },
            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            }


        });




    }

          $(window).on('load', function () {

           
             var a = @Model.Debug;
            
            if (a == 1) {
                
                $('#myModal').modal('show');
            } else if (a == 2) {
                
                $('#Edit').modal('show');
            }

    });







</script>
}
