  @page
@model tbkk.Pages.listOTs.ConfirmShuttleModel

@{
    ViewData["Title"] = "ConfirmShuttle";
}

    <div id="content-wrapper">



        <div name="55555" class="card-layout">






            <h1>Confirm Shuttle</h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Help Desk</li>
                <li class="breadcrumb-item active">Repair</li>
                <li class="breadcrumb-item active">Create</li>
            </ol>


            <div class="card">
                <div class="card-header">
                    <h3>Personnel & Shuttle</h3>
                </div>
                <div class="card-body">




                    <dl class="row">
                        <dd class="col-sm-6 text-right">
                            Date :
                        </dd>
                        <dd class="col-sm-6">
                            @Html.DisplayNameFor(model => Model.OT.date)
                        </dd>
                        <dd class="col-sm 6 text-right">
                            Personnel OT :
                        </dd>
                        <dd class="col-sm-6">
                            @Model.OTs.countEmp Person
                        </dd>
                        <dd class="col-sm-6 text-right">
                            Personnel need Shuttle :
                        </dd>
                        <dd class="col-sm-6">
                            @Model.OTs.countCar Person
                        </dd>
                        <dd class="col-sm-6 text-right">
                            Personnel need Food :
                        </dd>
                        <dd class="col-sm-6">
                            @Model.OTs.countFood Person
                        </dd>
                    </dl>


                </div>
            </div>

            <br />


            @{
                foreach (var i in Model.Depasments)
                {
                    if (@i.DepasmentsCount != 0)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <dt>@i.DepasmentsName  :  Personnel OT : @i.DepasmentsCount Person</dt>
                                    </div>
                                    <div class="col-sm-1">
                                        <button onclick="myFunction1(@i.DepasmentsID)" type="button" class="btn">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                </div>
                                <br />
                                <div id="@i.DepasmentsID" style="display:none">
                                    <div class="card">
                                        <div class="card-header">

                                            Personnel need Car : @i.CarCount Shuttle
                                        </div>
                                        <div class="card-body">
                                            @foreach (var j in i.ListParts)
                                            {
                                                <p>@j.PartName : @j.PartsCount Shuttle</p>
                                            }


                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            Personnel need Food : @i.FoodCount Person
                                        </div>
                                        <div class="card-body">
                                            @foreach (var j in i.ListFoods)
                                            {
                                                <p>@j.FoodName: @j.FoodsCount Person</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        <form method="post">

            @{
                if (Model.OT.TypeOT.Equals("Saturday") || Model.OT.TypeOT.Equals("Sunday"))
                {

                    if (Model.Round_8.Any())
                    {
                        <br />
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                8:00 Part Table
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Part
                                                </th>
                                                <th>
                                                    CarType
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Round_8)
                                            {
                                            <tr>


                                                @{int index = Model.Round_8.IndexOf(item);
                                                }
                                                <input hidden asp-for="Round_8[index].PartID" />
                                                <input hidden asp-for="Round_8[index].namePart" />


                                                @foreach (var j in item.DetailOT)
                                                {

                                                    int index2 = Model.Round_8[index].DetailOT.IndexOf(j);
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].DetailOTID " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].TimeStart " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].TimeEnd  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].Hour  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].Type  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].Status  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].Point_PointID  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].Employee_EmpID  " />
                                                    <input hidden asp-for="Round_8[index].DetailOT[index2].FoodSet_FoodSetID  " />
                                                    <input hidden asp-for="Round_20[index].DetailOT[index2].Employee_UserAdd_EmpID  " />
                                                }

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.namePart) @item.DetailOT.Count Person
                                                </td>
                                                <td>
                                                    @foreach (var j in item.ListCars)
                                                    {
                                                        int index2 = Model.Round_8[index].ListCars.IndexOf(j);

                                                        <input hidden asp-for="Round_8[index].ListCars[index2].CarTypeID" />
                                                        <input hidden asp-for="Round_8[index].ListCars[index2].CarTypeName" />
                                                        <input hidden asp-for="Round_8[index].ListCars[index2].seed" />
                                                        <div>
                                                            @Html.DisplayFor(modelItem => j.CarTypeName)
                                                            <input readonly class="form-control" type="number" asp-for="Round_8[index].ListCars[index2].countCar" />
                                                        </div>
                                                    }
                                                </td>

                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    }


                    if (Model.Round_17.Any())
                    {
                        <br />
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                17:00 Part Table
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Part
                                                </th>
                                                <th>
                                                    CarType
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Round_17)
                                            {
                                            <tr>


                                                @{int index = Model.Round_17.IndexOf(item);
                                                }
                                                <input hidden asp-for="Round_17[index].PartID" />
                                                <input hidden asp-for="Round_17[index].namePart" />


                                                @foreach (var j in item.DetailOT)
                                                {
                                                    int index2 = Model.Round_17[index].DetailOT.IndexOf(j);
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].DetailOTID " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].TimeStart " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].TimeEnd  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].Hour  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].Type  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].Status  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].Point_PointID  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].Employee_EmpID  " />
                                                    <input hidden asp-for="Round_17[index].DetailOT[index2].FoodSet_FoodSetID  " />
                                                    <input hidden asp-for="Round_20[index].DetailOT[index2].Employee_UserAdd_EmpID  " />
                                                }

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.namePart) @item.DetailOT.Count Person
                                                </td>
                                                <td>
                                                    @foreach (var j in item.ListCars)
                                                    {
                                                        int index2 = Model.Round_17[index].ListCars.IndexOf(j);

                                                        <input hidden asp-for="Round_17[index].ListCars[index2].CarTypeID" />
                                                        <input hidden asp-for="Round_17[index].ListCars[index2].CarTypeName" />
                                                        <input hidden asp-for="Round_17[index].ListCars[index2].seed" />
                                                        <div>
                                                            @Html.DisplayFor(modelItem => j.CarTypeName)
                                                            <input readonly class="form-control" type="number" asp-for="Round_17[index].ListCars[index2].countCar" />
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            @{
                if (Model.Round_20.Any())
                {
                    <br />
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            20:00 Part Table
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Part
                                            </th>
                                            <th>
                                                CarType
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Round_20)
                                        {
                                        <tr>


                                            @{int index = Model.Round_20.IndexOf(item);
                                            }
                                            <input hidden asp-for="Round_20[index].PartID" />
                                            <input hidden asp-for="Round_20[index].namePart" />


                                            @foreach (var j in item.DetailOT)
                                            {
                                                int index2 = Model.Round_20[index].DetailOT.IndexOf(j);
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].DetailOTID " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].TimeStart " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].TimeEnd  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Hour  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Type  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Status  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Point_PointID  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Employee_EmpID  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].FoodSet_FoodSetID  " />
                                                <input hidden asp-for="Round_20[index].DetailOT[index2].Employee_UserAdd_EmpID  " />
                                            }

                                            <td>
                                                @Html.DisplayFor(modelItem => item.namePart) @item.DetailOT.Count Person
                                            </td>
                                            <td>
                                                @foreach (var j in item.ListCars)
                                                {
                                                    int index2 = Model.Round_20[index].ListCars.IndexOf(j);

                                                    <input hidden asp-for="Round_20[index].ListCars[index2].CarTypeID" />
                                                    <input hidden asp-for="Round_20[index].ListCars[index2].CarTypeName" />
                                                    <input hidden asp-for="Round_20[index].ListCars[index2].seed" />
                                                    <div>
                                                        @Html.DisplayFor(modelItem => j.CarTypeName)
                                                        <input readonly class="form-control" type="number" asp-for="Round_20[index].ListCars[index2].countCar" />
                                                    </div>
                                                }
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                }

            }


            <br />


            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    List Employee OT
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].Employee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].TimeStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].TimeEnd)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].Hour)
                                    </th>            
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].Point)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].FoodSet)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailOT[0].EmployeeAdd)
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DetailOT)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeEnd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hour)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Point.Part.Name) => @Html.DisplayFor(modelItem => item.Point.NamePoint)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FoodSet.NameSet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeAdd.FirstName)
                                        @Html.DisplayFor(modelItem => item.EmployeeAdd.LastName)
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


                        @*<div class="text-center col-12">
                        <button type="submit" asp-page-handler="Line" asp-route-id="@Model.Employee.EmployeeID" asp-route-Did="@Model.OT.OTID" class="btn btn-success">Confirm</button>
                    </div>*@



                        <div class="text-center col-12">
                            <button type="submit" asp-route-Did="@Model.OT.OTID" class="btn btn-success">Confirm</button>
                        </div>

        </form>

            <br />



        </div>
    </div>



@*<script>
    $('form').submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            traditional: true,
            url: "/listOTs/ConfirmShuttle?id=20&Did=2",
            data: { "Round_8": @Json.Serialize(Model.Round_8), "Round_17":@Json.Serialize(Model.Round_17), "Round_20":@Json.Serialize(Model.Round_20)},
            
                
        });
    });
</script>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function myFunction1(i) {
        var x = document.getElementById(i);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
        var nav = document.getElementById("Management");
    var nav2 = document.getElementById("Management OT");
     var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }

    var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
</script>
}










