@page
@model tbkk.ContactCarFoodModel

@{
    ViewData["Title"] = "ContactCarFood";
}


<div id="content-wrapper">

    <div name="55555" class="card-layout">

        <h1>Confirm Shuttle</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Help Desk</li>
            <li class="breadcrumb-item active">Repair</li>
            <li class="breadcrumb-item active">Create</li>
        </ol>


        <div class="card">
            <div class="card-header">
                <h3>Personnel & Shuttle</h3>
            </div>
            <div class="card-body">




                <dl class="row">
                    <dd class="col-sm-6 text-right">
                        Date :
                    </dd>
                    <dd class="col-sm-6">


                        @Html.DisplayNameFor(model => Model.OT.date)
                    </dd>
                    <dd class="col-sm 6 text-right">
                        Personnel OT :
                    </dd>
                    <dd class="col-sm-6">
                        @Model.OTs.countEmp Person
                    </dd>
                    <dd class="col-sm-6 text-right">
                        Personnel need Shuttle :
                    </dd>
                    <dd class="col-sm-6">
                        @Model.OTs.countCar Person
                    </dd>
                    <dd class="col-sm-6 text-right">
                        Personnel need Food :
                    </dd>
                    <dd class="col-sm-6">
                        @Model.OTs.countFood Person
                    </dd>
                </dl>


            </div>
        </div>

        <br />


        @{
            foreach (var i in Model.Depasments)
            {


                if (@i.DepasmentsCount != 0)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-11">
                                    <dt>@i.DepasmentsName  :  Personnel OT : @i.DepasmentsCount Person</dt>
                                </div>
                                <div class="col-sm-1">
                                    <button onclick="myFunction1(@i.DepasmentsID)" type="button" class="btn">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div id="@i.DepasmentsID" style="display:none">
                                <div class="card">
                                    <div class="card-header">

                                        Personnel need Car : @i.CarCount Shuttle
                                    </div>
                                    <div class="card-body">
                                        @foreach (var j in i.ListParts)
                                        {
                                            <p>@j.PartName : @j.PartsCount Shuttle</p>
                                        }


                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Personnel need Food : @i.FoodCount Person
                                    </div>
                                    <div class="card-body">
                                        @foreach (var j in i.ListFoods)
                                        {
                                            <p>@j.FoodName: @j.FoodsCount Person</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        }




        @if (Model.DetailCarQueue.Count != 0)
        {
            <br />
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    List Employee
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].DetailCarQueueID)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue.CarNumber)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue.Time)
                                    </th>



                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue.CarQueue_CarTypeID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue.CarQueue_PartID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].CarQueue.Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DetailCarQueue[0].DetailCarQueue_EmployeeID)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DetailCarQueue)
                                {

                                    <tr>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.DetailCarQueueID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CarQueue.CarNumber)
                                        </td>
                                        <td>
                                            @item.CarQueue.Time.ToString("H:mm")

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CarQueue.CarType.NameCar)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CarQueue.Part.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CarQueue.Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>




                    </div>

                </div>

            </div>





            <br />




            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Car List Employee
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        time
                                    </th>

                                    <th>
                                        part
                                    </th>

                                    <th>
                                        CarType
                                    </th>

                                    <th>
                                        maxCar
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.timelist)
                                {

                                    @foreach (var i in item.carQ)
                                    {
                                        @foreach (var q in i.carListNumber)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.time):00
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => i.part.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => q.CarType.NameCar)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => q.maxCar)
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        }















        @{


            string massCar = "\n";
            massCar = massCar + "OT Date : " + Model.OT.date.ToString("dddd, dd MMMM yyyy") + "\n";
            foreach (var item in Model.timelist)
            {
                massCar = massCar + "Time : " + item.time + ":00\n";
                foreach (var i in item.carQ)
                {
                    massCar = massCar + "\tPate : " + i.part.Name + "\n";
                    foreach (var q in i.carListNumber)
                    {
                        massCar = massCar + "\t\t" + q.CarType.NameCar + " : " + q.maxCar + "\n";
                    }
                }
                massCar = massCar + "\n";
                foreach (var i in Model.CarType)
                {
                    var count = 0;
                    foreach (var d in item.carQ)
                    {
                        foreach (var q in d.carListNumber)
                        {
                            if (q.CarType.CarTypeID == i.CarTypeID)
                            {
                                count = count + q.maxCar;
                            }

                        }
                    }
                    if (count != 0)
                    {
                        massCar = massCar + i.NameCar + " " + count + "\n";
                    }
                }



            }


            string massFood = "\n";
            massFood = massFood + "OT Date : " + Model.OT.date.ToString("dddd, dd MMMM yyyy") + "\n";
            foreach (var item in Model.food)
            {
                var count = 0;
                massFood = massFood + "Time : " + item.time + ":00\n";
                foreach (var i in item.foodList)
                {
                    massFood = massFood + "\tFood set " + i.set.NameSet + " : " + i.contSet + " set\n";
                    count = count + i.contSet;

                }
                massFood = massFood + "\n";

                massFood = massFood + "Food " + count + " set";


            }

        }
        @*<div class="card">
            <div class="card-header">
                Personnel & Shuttle
            </div>

            <div class="card-body">




                <dl class="row">

                    <dl class="row">
                        <dd class="col-sm-6 text-right">
                            <label>OT date :</label>

                        </dd>
                        <dd class="col-sm-6">
                            <label>@Model.OT.date.ToString("dddd, dd MMMM yyyy")</label>

                        </dd>
                    </dl>





                    @{
                        foreach (var item in Model.CatList)
                        {
                            mass = mass + "Part : " + item.Parts.Name + "\n";
                                            <dl class="row">
                                                <dd class="col-sm 6 text-right">
                                                    <label>Part :</label>

                                                </dd>
                                                <dd class="col-sm-6">
                                                    <label>@item.Parts.Name </label>

                                                </dd>
                                            </dl>






                            foreach (var list in item.carListNumber)
                            {
                                if (list.maxCar != 0)
                                {

                                    <dd class="col-sm 6 text-right">
                                        <label> </label>
                                    </dd>
                                    <dd class="col-sm-6">
                                        <label>@list.CarType.NameCar : @list.maxCar Cars</label>
                                    </dd>


                                    mass = mass + "\t" + list.CarType.NameCar + " : " + list.maxCar + "\n";
                                }

                            }

                        }
                    }


                </dl>


            </div>
        </div>*@




        <form method="post">

            <div class="text-center col-12">



                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        <label class="float-left">Line Mass</label>

                    </div>

                    <div class="card-body">
                        @{var status = "";
                            if (Model.LineToken == null)
                            { status = "Fail"; }
                            else { status = "True"; } }

                        <label class="float-left">Mass Car</label>
                        <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="6" name="massCar" /></textarea>
                        <label class="float-left">Mass Food</label>
                        <textarea readonly class="form-control" id="exampleFormControlTextarea2" rows="6" name="massFood" /></textarea>
                    </div>
                </div>
                <br />


                <script>

                        document.getElementById("exampleFormControlTextarea1").innerHTML = "@massCar";
                        document.getElementById("exampleFormControlTextarea2").innerHTML = "@massFood";

                </script>



                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div hidden class="form-group">
                    <label asp-for="LineToken.LineTokenID" class="control-label"></label>
                    <input asp-for="LineToken.LineTokenID" class="form-control" />
                    <span asp-validation-for="LineToken.LineTokenID" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="LineToken.TokenCar" class="control-label"></label>
                    <input asp-for="LineToken.TokenCar" class="form-control" />
                    <span asp-validation-for="LineToken.TokenCar" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="LineToken.TokenFood" class="control-label"></label>
                    <input asp-for="LineToken.TokenFood" class="form-control" />
                    <span asp-validation-for="LineToken.TokenFood" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="LineToken.Company_CompanyID" class="control-label"></label>
                    <select asp-for="LineToken.Company_CompanyID" class="form-control" asp-items="ViewBag.Company_CompanyID"></select>
                </div>



                <h4>Line Status : @status </h4>
                @Html.ValidationMessage("Error")
                <button asp-page-handler="Line" type="submit"  asp-route-Did="@Model.OT.OTID" class="btn btn-success">Line Mass</button>
            </div>


            <br />
        </form>



    </div>



</div>







@section Scripts {
<script>
    function myFunction1(i) {
        var x = document.getElementById(i);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
     var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
    var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



