@page
@model tbkk.Pages.listOTs.listEmpOTModel

@{
    ViewData["Title"] = "listEmpOT";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout">
        <h1>Allow OT</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management</li>
            <li class="breadcrumb-item active">Allow OT</li>

        </ol>





        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                OT Table
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT[0].TimeStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT[0].TimeEnd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT[0].date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT[0].TypeOT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT[0].TypStatus)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.OT)
                            {
                                @foreach (var i in Model.DetailOT)
                                {
                                    if (item.OTID == i.OT_OTID)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TimeStart)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TimeEnd)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeOT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypStatus)
                                            </td>
                                            <td>
                                                <a asp-page="./../listOTs/allowEmp" asp-route-id="@Model.Employee.EmployeeID" asp-route-Did="@item.OTID" class="btn btn-outline-dark">Edit</a> |


                                                <form method="post">
                                                    <button asp-page-handler="AddAll" class="btn btn-outline-danger" type="submit" asp-route-id="@Model.Employee.EmployeeID" asp-route-Did="@item.OTID">All allowed</button>

                                                </form>

                                            </td>
                                        </tr>
                                        break;
                                    }
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
   
</div>

@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
