@page "{searchString?}"
@model tbkk.Pages.listOTs.listJoinOTModel

@{
    ViewData["Title"] = "listJoinOT";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout">


        <h1>History OT</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Overtime</li>
            <li class="breadcrumb-item active">History OT</li>

        </ol>
        <hr />


        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-6 text-right">
                        Name:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Employee.FirstName)  @Html.DisplayFor(model => model.Employee.LastName)
                    </dd>



                    <dt class="col-sm-6 text-right">
                        @Html.DisplayNameFor(model => model.Employee.Employee_CompanyID):
                    </dt>
                    <dd class="col-sm-6 ">
                        @Html.DisplayFor(model => model.Employee.Company.CompanyName)
                    </dd>

                    <dt class="col-sm-6 text-right">
                        @Html.DisplayNameFor(model => model.Employee.Employee_DepartmentID):
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Employee.Department.DepartmentName)
                    </dd>

                    <dt class="col-sm-6 text-right">
                        @Html.DisplayNameFor(model => model.Employee.Employee_PositionID):
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Employee.Position.PositionName)
                    </dd>


                    <dt class="col-sm-6 text-right">
                        Hour OT:
                    </dt>
                    <dd class="col-sm-6">
                        @{
                            var totalHour = (int)Model.countHourOT.TotalHours;
                        }
                        @totalHour:@Model.countHourOT.ToString(@"mm\:ss") Hour
                    </dd>
                </dl>


            </div>

            <div class="col-sm-6">
                <div>

                    <img src="~/Upload/@Model.Employee.Image" class="rounded mx-auto d-block" alt="@Model.Employee.Image">

                </div>


            </div>
        </div>


        <br />
        <br />











        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                History Table
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT[0].OT.date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT[0].Hour)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT[0].Point)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DetailOT[0].FoodSet)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DetailOT)
                            {
                                <tr>
                                    <td>

                                        @*@{
                                            DateTime date = item.TimeStart;
                                        }

                                        @date.ToString("dddd, dd MMMM yyyy")*@

                                        @Html.DisplayFor(model => item.OT.date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hour)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Point.Part.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FoodSet.NameSet)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>






        <!-- /.container-fluid
     <td>
                        <a asp-page="./../listOTs/EditJoinOT" asp-route-id="item.DetailOTID">Edit</a> |

                        <a asp-page="./Delete" asp-route-id="item.DetailOTID">Delete</a>
                    </td>
    -->

    </div>
    <!-- /.content-wrapper -->
</div>




@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

