@page
@model tbkk.Pages.listOTs.listEmpOTModel

@{
    ViewData["Title"] = "listEmpOT";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout">
        <h1>Allow OT</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management</li>
            <li class="breadcrumb-item active">Allow OT</li>

        </ol>
        <hr />





        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                OT Table
            </div>

            <div class="card-body">
                <div class="table-responsive">


                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT.date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT.TypeOT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT.TimeStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT.TimeEnd)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OT.TypStatus)
                                </th>
                                <th>
                                    Manage
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.listOT != null)
                            {
                                @foreach (var item in Model.listOT)
                                {


                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OT.date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OT.TypeOT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OT.TimeStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OT.TimeEnd)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.OT.TypStatus)
                                        </td>

                                        <td>
                                            @item.Emp_Manage / @item.Emp_Cout
                                        </td>
                                        <td>

                                            <a asp-page="./../listOTs/allowEmp" asp-route-id="@item.OT.OTID" class="btn btn-outline-dark">Management</a>


                                        </td>
                                    </tr>



                                }
                            }

                        </tbody>
                    </table>






                </div>
            </div>
        </div>
        
    </div>
    <!-- /.container-fluid -->

</div>




@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
