@page
@model tbkk.Pages.listOTs.listOTModel

@{
    ViewData["Title"] = "listOT";
}
<div id="content-wrapper">
    <div name="55555" class="card-layout">


        <h1>List OT</h1>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Overtime</li>
                <li class="breadcrumb-item active">List OT</li>

            </ol>


            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    OT Table
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TimeStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TimeEnd)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TypeOT)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TypStatus)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OT)
                                {
                                    <tr>
                                        <td>


                                            @{
                                                DateTime date = item.date;
                                            }

                                            @date.ToString("dddd, dd MMMM yyyy")



                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeEnd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeOT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypStatus)
                                        </td>
                                        <td>


                                            @{




                                                int check = 0;
                                                int IDdetail = 0;
                                                foreach (var i in Model.DetailOT)
                                                {
                                                    if (i.Employee_EmpID == Model.Employee.EmployeeID && i.OT_OTID == item.OTID)
                                                    {
                                                        check = 1;
                                                        IDdetail = i.DetailOTID;
                                                        break;
                                                    }

                                                }

                                                if (check == 0)
                                                {
                                                    <a asp-page="./../listOTs/addOT" asp-route-id="@Model.Employee.EmployeeID" asp-route-Did="@item.OTID">Register</a>

                                                }
                                                else
                                                {
                                                    <a asp-page="./../listOTs/detailOTView" asp-route-id="@IDdetail" asp-route-Did="@Model.Employee.EmployeeID">Detail</a>
                                                }











                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- /.container-fluid -->
   
   
</div>



@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

