@page
@model tbkk.Pages.listOTs.manageOTModel

@{
    ViewData["Title"] = "manageOT";
}

<div id="content-wrapper">
    <div name="55555" class="card-layout">




        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">No select company car.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You have not selected a car company.</p>
                    </div>
                    <div class="modal-footer">
                        <a asp-page="./CompanyCar" class="btn btn-primary">Select</a>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>











        <h1>Manage OT</h1>
        <div class="container-fluid">

            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Management OT</li>
                <li class="breadcrumb-item active">Manage OT</li>
                

            </ol>
            <hr />

            @if (Model.OTa.Count != 0)
            {
                <h2>OT Open</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OT[0].TimeStart)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OT[0].TimeEnd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OT[0].TypeOT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OT[0].TypStatus)
                            </th>
                            <th>Allow</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OTa)
                        {

                            <tr>
                                <td>

                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TimeEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeOT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypStatus)
                                </td>
                                <td>
                                    @{
                                        if (Model.CompanyCar == null)
                                        {
                                            if (item.TypStatus.Equals("Open"))
                                            {

                                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Close</button>

                                            }
                                            else if (item.TypStatus.Equals("Manage Car"))
                                            {
                                                <a class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Manahe Car</a>
                                            }
                                        }
                                        else
                                        {
                                            if (item.TypStatus.Equals("Open"))
                                            {
                                                <form method="post">
                                                    <button class="btn btn-outline-danger" value="Save" type="submit" asp-route-Did="@item.OTID">Close</button>
                                                </form>
                                            }
                                            else if (item.TypStatus.Equals("Manage Car"))
                                            {
                                                <a asp-page="./../listOTs/ConfirmShuttle" asp-route-Did="@item.OTID" class="btn btn-outline-danger">Manahe Car</a>
                                            }
                                        }

                                    }
                                </td>
                            </tr>
                        }
                </table>
            }



            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    OT Table
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TimeStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TimeEnd)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TypeOT)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OT[0].TypStatus)
                                    </th>
                                    <th>Allow</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OT)
                                {

                                    <tr>
                                        <td>

                                            @Html.DisplayFor(modelItem => item.date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeEnd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypeOT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypStatus)
                                        </td>
                                        <td>
                                            @{

                                                <a asp-page="./../listOTs/ContactCarFood" asp-route-Did="@item.OTID" class="btn btn-outline-primary">View</a>

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var nav = document.getElementById("Management");
        var nav2 = document.getElementById("Management OT");
        @{ if (Model.Employee.Position.PositionName.Equals("Manager") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav.style.display = "block";
            }
            if (Model.Employee.Department.DepartmentName.Equals("Human Resource") || Model.Employee.Position.PositionName.Equals("admin"))
            {
                @:nav2.style.display = "block";
            }
        }
         var name = document.getElementById("nav_name").innerHTML = "Name: @Model.Employee.FirstName @Model.Employee.LastName Position: @Model.Employee.Position.PositionName";
        var img = document.getElementById("myImg").src = "/Upload/@Model.Employee.Image";



    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}















